.card-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: aquamarine;
    border-radius: 20px;
    width: 10%;
    margin: 10px;
    cursor: pointer;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.card-box img{
    width: auto;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.card-box h1{
    text-align: center;
    font-size: 150%;
    color: black;
}

.card-box:hover{
    background-color: aqua;
}