.App {
  text-align: center;
  
}

body{
  background-color: #282c34;
  height: 100vh;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-list{
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  justify-content: center;
  
}